<div class="col c4">
<div class="pn">
<div class="pnt">About</div><div style="text-align:left;padding:20px;">
Author: Petr Vavrin</br>
Email: pb.pb@centrum.cz</br>
<hr />
Supported features:<br /><br />
httpd server: ETag, Basic Auth<br />
<hr />
CSS menu based on "<a href="https://mincss.com/" target="_blank">Min</a>"</br>
AJAX based on "<a href="https://github.com/yanatan16/nanoajax/" target="_blank">nanoajax</a>"</br>
</div></div></div>