<!DOCTYPE html><html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>|TITLE|</title><style>body,.sp,.cnt,.frm legend,.row,.c4,.pnc{width:100%}body{background:#eee;font:16px sans-serif;margin:0;height:100%}.cnt{margin:auto;padding:0px;max-width:1024px}.nav a{text-decoration:none;color:#ccc;padding-right:1em}.nav,.cur,.nav a:hover{background:#333;color:#fff}.nav{height:24px;padding:11px 0 15px}.navc{display:none}</style><link href="/static/node.css" rel="stylesheet" type="text/css" /></head><body><nav class="nav" tabindex="-1" onclick="this.focus()"><div class="cnt"><a class="pgn" href="/static/index.htm">&nbsp;|NAME|</a>|LINKS|</div></nav><button class="navc">×</button><div class="sp"></div><div class="cnt">|CONTENT|</div><script src="/static/node.js"></script></body></html>